.card-img-top{
    display: inline-block;

}

.col-4 {
    margin: 20px 0px;
}

.card-footer {
    justify-content: center;
}
.card-title {
    text-transform: uppercase;
    font-weight: bold;

}
#card-description-title {
    font-weight: bold;
    text-shadow: #FC0 0px 0 10px;
    /* text-align: right; */


}

#logout-message {

    text-align: center;
    font-size: large;
    font-weight: bold;
}

#add-project-fields {
  

    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#new-message {
    margin-top: 200px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.masthead {
    color: aliceblue;
    height: 1vh;
    min-height: 400px;
    background-image: url('https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?cs=srgb&dl=blue-and-red-galaxy-artwork-1629236.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .lead {
    
    font-size: 30px;

  }
